.ObjectiveFormContainer{
    background-color: #FBF46D; 
    display: flex; 
    flex-direction: column; 
    padding: 10px; 
    border-radius: 10px; 
    width: 100%; 
}

.ObjectiveFormText{
    border-radius: 10px; 
    border: 2px solid black;
    width: calc(100% - 20px); 
}

.ObjectiveFormTitle{
    text-align: center; 
}